@model TicaretTakipDatabaseFirst.Models.tbUrun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbUrun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAciklamasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklamasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunGrubuIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunGrubuIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlisFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlisFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SatisFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SatisFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUrunGrubu.UrunGrubuAciklamasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUrunGrubu.UrunGrubuAciklamasi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
