@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <li>@Html.ActionLink("Müşteriler", "Index", "tbMusteri")</li>
    <li>@Html.ActionLink("Ürünler", "Index", "tbUrun")</li>
    <li>@Html.ActionLink("Ürün Grupları", "Index", "tbUrunGrubu")</li>
    <li>@Html.ActionLink("Ödeme Hareketi", "Index", "tbOdemeHareketi")</li>
    <li>@Html.ActionLink("Satış Hareketi", "Index", "tbSatisHareketi")</li>
</div>